@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* overflow-y: hidden; */
	position: relative;
	min-height: 100dvh;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 1rem;
	min-height: 100dvh;
	max-height: 100%;
	color: white;
	/* overflow: hidden; */
}

textarea {
	background-color: hsl(0, 0%, 25%);
	resize: none;
}